.button {
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: background-color ease 150ms;
    display: block; /* Make it a block element */
    width: 100%; /* Make the button fill the width of its parent (item1) */
    font-size: 16px;
    border-radius: 0.5rem;
    border: 1px solid #404040;
    font-weight:600;
}

.button:hover {
    background-color: #262626;
}

.selected {
    background-color: #262626;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.item {
    box-sizing: border-box;
    flex: 1;
    padding: 10px;
}

.item1 {
    flex: 1; /* Make Item 1 take all vertical space within item */
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-right: 1px solid #404040;
}

.item2 {
    /* Item 2 styles */
    display: flex; /* Turn Item 2 into a flex container */
    flex: 3;
}

.nested-container {
    /* Styles for the nested container within Item 2 */
    display: flex;
    flex-direction: column; /* Nested container stacks items vertically */
    flex: 1; /* Nested container takes up all available space */
    position: relative;
}

.nested-item {
    padding: 10px;
    box-sizing: border-box;
}

.nested-item1 {
    max-height: 85%; /* Set a maximum height for nested-item 1 */
    overflow-y: auto; /* Enable vertical scrolling for nested-item 1 */
    flex: 25;
    display: flex;
    flex-direction: column;
}
.nested-item2 {
    flex: 1;
}

.message-input {
    display: flex;
    gap: 15px;
}

input[type="text"] {
    flex: 1;
    outline: none;
}

.message {
    background-color: #007bff; /* Background color for the message box */
    color: #fff; /* Text color */
    padding: 10px; /* Padding for the message box */
    border-radius: 10px; /* Rounded corners for the message box */
    margin: 10px; /* Margin to separate messages */
}

.message-text {
    margin: 0; /* Remove default margin for the <p> element */
}
